# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Virtual Environment
venv/
env/
ENV/
*.env
*.venv
.Python

# Django specific
db.sqlite3
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Local settings (optional)
local_settings.py
